.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  z-index: 999;
}

.todo-list {
  margin-top: 100px;
  margin-left: calc(50% - 500px);
  width: 1000px;
  padding: 0;
  border-color: #fff;
}

.openModalButton {
  position: fixed;
  right: 50px;
  bottom: 150px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 35px;
  background-color: #26b5f3;
}

.openModalButton:focus {
  outline: none;
}

.openModalButton:hover {
  border: 2px lightgreen solid;
  cursor: pointer;
}

.modal-body {
  /* padding: 2rem; */
  position: absolute;
  padding: 0px;
  width: 1000px;
  border-radius: 5px;
  background: #fff;
  height: 200px;
  min-height: 200px;
  overflow: auto;
  border: 1px solid transparent;
  /* height: auto; */
}  

.field {
  padding: 5px;
  width: 95%;
  display:inline-block;
  outline: none;
  margin: 10px;
  white-space: pre;
}

.field:empty:before {
  content:attr(data-placeholder);
  color:gray
}

.buttons-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  border: none;
  height: auto;
  width: 250px;
  top: 60px;
  margin-left: 700px;
  margin-bottom: 0px;
}

button {
  font-weight: 600;
  width: 124px;
  height: 30px;
  background-color: #fff;
  border: none;
}

button:hover {
  background-color: #e7e7e7;
}

.modal-field {
  font-family: 'Indie Flower', cursive;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  width: 90%;
  box-sizing: border-box;
  font-size: 28px;
  font-style: italic;
  box-shadow: inset 0 -2px 40px rgba(0,0,0,0.03);
  border: 1px solid black;
}

.modal-field::-webkit-input-placeholder {
  font-family: 'Indie Flower', cursive;
}
.modal-field::-moz-placeholder {
  font-family: 'Indie Flower', cursive;
}
.modal-field:-moz-placeholder {
  font-family: 'Indie Flower', cursive;
}
.modal-field:-ms-input-placeholder {
  font-family: 'Indie Flower', cursive;
}